
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h3>Historial de Actividades</h3>           
                <p>Finca:</p>
                <select ng-change="propertySelection()" ng-model="history.property" ng-options="property.name for property in properties" style="height: 33px; width: 250px"></select>
                <p><br>Lote:</p>
                <select ng-change="lotSelection()" ng-model="history.lot" ng-options="lot.code for lot in lots" style="height: 33px; width: 250px"></select>
                <p><br>Ciclo:</p>
                <select ng-change="cycleSelection()" ng-model="history.cycle" ng-options="cycle.period for cycle in cycles" style="height: 33px; width: 250px"></select>
                <p><br>- Filtro de Consultas -</p>
                <p>Rango de fechas: </p>
                <select ng-change="periodSelection()" style="height: 33px; width: 250px">
                    <option value="1">Todas las Fechas</option>
                </select>
                <p><br>Actividades: </p>
                <select ng-change="activityTypeSelection()" style="height: 33px; width: 250px">
                    <option value="1">Todas las Actividades</option>
                </select>
                <p><br>Solicitudes: </p>
                <select ng-change="requestTypeSelection()" style="height: 33px; width: 250px">
                    <option value="1">Todas las Solicitudes</option>
                    <option value="2">Solicitudes de Suministros</option>
                    <option value="3">Solicitudes de Maquinaria</option>
                    <option value="4">Solicitudes de Servicios</option>
                </select>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->