
<div id="page-content-wrapper">
    <div class="container-fluid" style="float: left">
        <div class="col-lg-12">
            <h3>Historial de Actividades</h3> 
            <strong><p>Rango de Fechas:</p></strong>
            <select ng-model="historical.period" style="height: 33px; width: 250px">
                <option value="1">Todas las fechas</option>
                <option value="1">Rango específico</option>
            </select>
            <strong><p><br>Tipo de Solicitud:</p></strong>
            <select ng-model="historical.requestsType" ng-change="requestTypeSelection()" style="height: 33px; width: 250px">
                <option value="1">Todas las Solicitudes</option>
                <option value="2">Suministros</option>
                <option value="3">Maquinaria</option>
                <option value="4">Servicios</option>
            </select>
            <strong><p><br>Actividad:</p></strong>
            <select ng-model="historical.activity" ng-options="activity.name for activity in activities" style="height: 33px; width: 250px"></select>
            <br><br>
            <button class="btn btn-primary" ng-click="proceed()" style="height: 33px; width: 250px">Filtrar</button>
        </div>
    </div>
    <div ng-show="flag" class="container-fluid" style="float: left">
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Actividad</th>
                    <th>Tipo</th>
                <!--<th>Solicitud</th>
                    <th>Cantidad</th>-->
                    <th>Descripción</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="history in historical">  <!-- Recorrer el array -->
                    <td>{{history.date}}</td>  
                    <td>{{history.activity}}</td>   
                    <td>{{history.requestType}}</td>    
                <!--<td>{{history.requestItem}}</td>   
                    <td>{{history.amount}}</td>-->    
                    <td>{{history.description}}</td> 
                    <td>{{history.state}}</td>           
                </tr>       
            </tbody>        
        </table>
    </div>    
</div>
<!-- /#page-content-wrapper -->