
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h3>Nueva Solicitud de Maquinaria</h3>
                <p>Actividad:</p>
                <select ng-model="machineryRequest.activity" ng-options="activity.name for activity in activities" style="height: 33px; width: 250px"></select>  
                <p><br>Máquina:</p>
                <select ng-model="machineryRequest.machine" ng-options="machine.name for machine in machinery" style="height: 33px; width: 250px"></select>   
                <p><br>Cantidad:</p>
                <input ng-model="machineryRequest.amount" style="height: 33px; width: 250px">
                <p><br>Descripción:</p>
                <textarea  ng-model="machineryRequest.description" cols=32 rows=5></textarea> 
                <p><br>Estado de la Solicitud:</p>
                <select ng-model="machineryRequest.state" style="height: 33px; width: 250px">
                    <option>Aprobada</option>
                    <option>Pendiente</option>
                </select>   
                <br><br>
                <button class="btn btn-primary" ng-click="proceed()" style="height: 33px; width: 250px">Solicitar</button>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->