
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h3>Nueva Solicitud de Suministros</h3>
                <p>Actividad:</p>
                <select ng-model="supplyRequest.activity" ng-options="activity.name for activity in activities" style="height: 33px; width: 250px"></select>  
                <p><br>Suministro:</p>
                <select ng-model="supplyRequest.supply" ng-options="supply.name for supply in supplies" style="height: 33px; width: 250px"></select>   
                <p><br>Cantidad:</p>
                <input ng-model="supplyRequest.amount" style="height: 33px; width: 250px">
                <p><br>Descripción:</p>
                <textarea ng-model="supplyRequest.description" cols=32 rows=5></textarea>                 
                <p><br>Estado de la Solicitud:</p>
                <select ng-model="supplyRequest.state" style="height: 33px; width: 250px">
                    <option>Aprobada</option>
                    <option>Pendiente</option>
                </select>   
                <br><br>
                <button class="btn btn-primary" ng-click="proceed()" style="height: 33px; width: 250px">Solicitar</button>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->