
<div id="page-content-wrapper">
    <div class="container-fluid" style="float: left">
        <div class="col-lg-12">
            <h3>Historial de Actividades</h3> 
            <strong><p>Fechas:</p></strong>
            <select ng-model="historical.start" ng-options="start.date for start in periods" style="height: 33px; width: 250px">Iasd</select>
            <br><br><select ng-model="historical.end" ng-options="end.date for end in periods" style="height: 33px; width: 250px"></select>
            <strong><p><br>Tipo de Solicitud:</p></strong>
            <select ng-model="historical.requestType" ng-change="requestTypeSelection()" style="height: 33px; width: 250px">
                <option>Suministro</option>
                <option>Maquinaria</option>
                <option>Servicio</option>
            </select>
            <strong><p><br>Actividad:</p></strong>
            <select ng-model="historical.activity" ng-options="activity.name for activity in activities" style="height: 33px; width: 250px"></select>
            <br><br>
            <button class="btn btn-primary" ng-click="proceed()" style="height: 33px; width: 250px">Filtrar</button>
        </div>
    </div>
    <div ng-show="flag" class="container-fluid" style="float: left">
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Actividad</th>
                    <th>Tipo</th>
                <!--<th>Solicitud</th>
                    <th>Cantidad</th>-->
                    <th>Descripción</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="history in histories">  <!-- Recorrer el array -->
                    <td>{{history.date}}</td>  
                    <td>{{history.activity}}</td>   
                    <td>{{history.requestType}}</td>    
                <!--<td>{{history.requestItem}}</td>   
                    <td>{{history.amount}}</td>-->    
                    <td>{{history.description}}</td> 
                    <td>{{history.state}}</td>           
                </tr>       
            </tbody>        
        </table>
    </div>    
</div>
<!-- /#page-content-wrapper -->