
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">            
            <div class="col-lg-12" ng-init="init()">
                <strong><p>Lote:</p></strong>
                <select ng-change="lotSelection()" ng-model="access.lot" ng-options="lot.code for lot in lots" style="height: 33px; width: 250px"></select>
                <strong><p><br>Ciclo:</p></strong>
                <select ng-change="cycleSelection()" ng-model="access.cycle" ng-options="cycle.period for cycle in cycles" style="height: 33px; width: 250px"></select>   
                <strong><p><br>Encargado:</p></strong>
                <select ng-model="request.attendant" ng-options="attendant.name for attendant in attendants" style="height: 33px; width: 250px">              
                </select>                                   
                <strong><p><br>Tipo de Solicitud:</p></strong>
                <select ng-change="typeSelection()" ng-model="request.type" ng-options="type for type in types" style="height: 33px; width: 250px">              
                </select> 
                <strong><p><br>Tipo de Actividad:</p></strong>
                <select ng-model="request.activity" ng-options="activity.name for activity in activities" style="height: 33px; width: 250px"></select> 
                <strong><p><br>{{item}}</p></strong> 
                <select ng-model="request.item" ng-options="item.name for item in items" style="height: 33px; width: 250px"></select> 
                <strong><p><br>Cantidad{{amount}}:</p></strong>  
                <input ng-model="request.amount" style="height: 33px; width: 250px">
                <strong><p><br>Estado:</p></strong>   
                <select ng-model="request.state" style="height: 33px; width: 250px">
                    <option>Aprobada</option>
                    <option>Pendiente</option>
                </select>   
                <br><br>
                <button class="btn btn-primary" ng-click="proceed()" style="height: 33px; width: 250px">Solicitar</button>
            </div>
            </strong>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->